<!DOCTYPE html>
<html ng-app="EX">
	<head>

		<script src="node_modules/angular/angular.min.js"></script>
		<script src="build/angular-dashboard-router.js"></script>
		<script src="example.js"></script>


		<script type="text/ng-template" id="FM.DailyReportWidget.html">
			<div class="x-dashboard-container" hidden="true">DailyReportController</div>
		</script>
		
		<script type="text/ng-template" id="PB.MapPanelWidget.html">
			<div class="x-dashboard-container" hidden="true">Map</div>
		</script>
		
		<script type="text/ng-template" id="FM.PackageNavigationSidebarWidget.html">
			<div class="x-dashboard-container" hidden="true">PackageNavigationSidebarController</div>
		</script>

	</head>
	<body>

		<section id="desktop" class="x-dashboard">
			<div id="tab" class="x-dashboard-tab x-tab-nav">
 				<div ng-controller="FM.TrackingTabController" class="x-tab x-icon ico-tracking" ng-click="call()">Tracking</div>
				<div ng-controller="FM.DailyReportTabController" class="x-tab x-icon ico-history" ng-click="call()">Daily report</div>
 			</div>
		</section>


	</body>
</html>
